/* .bg-modale {
  background-color: black;
} */
.main-bk-about {
  height: 29rem;
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin-top: -7rem;
}
